body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
    font-family: Verdana, Arial, sans-serif;
    position: relative;
    margin: 0px;
    display: block;
    color: #ffffff;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8293a5', endColorstr='#333e54');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
